* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** Color de selección del texto*/
::selection {
	background-color: purple;
	color: white;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7f3d5;
  border-radius: 10px;
}


/** nav superior */

nav {
	display: flex;
	margin:auto;
	position: relative;
	width: 100%;
	max-width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	z-index: 10;
}

@media screen and (max-width: 100%) {
  nav {
    margin: 27px 5%; /* Se ajusta el margen para que el nav no quede pegado a los bordes de la pantalla */
  }
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}



/** animación del nav */

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 19%;
}
a:nth-child(2) {
	width: 22%;
}
a:nth-child(3) {
	width: 20%;
}
a:nth-child(4) {
	width: 27%;
}
a:nth-child(5) {
	width: 20%;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 18%;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 21%;
	left: 18%;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 17%;
	left: 39%;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 24%;
	left: 56%;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 20%;
	left: 80%;
	background-color: #e67e22;
}

/* detalles principales (fondo de pagina, titulo y span)*/
body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

span {
    color: #2BD6B4;
}

p {
	font-size: 20px;
	font-family: sans-serif;
	color: white;
	text-align: center;
}

/*estructura de pagina*/

section {
	height: 80vh;

}

section#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FF512F, #DD2476);
}

section#hero h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

section#buttons {
	height: 40vh;
	width: 60%;
	max-width: 100%;
}

/* para pantallas de menos de 320 px*/

@media only screen and (max-width: 320px) {
  section#buttons {
    width: 100%;
    max-width: 60%;
  }
}


/*texto h2 en general*/

h2 {
	margin-top: 15px;
	font-size: 2rem;
	text-align: center;
}

section#Proyectos h2 {
	font-size: 2rem;
	text-align: center;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 30px;
	display: block;
	text-decoration: underline;
	color: #fff;
}

 section#Proyectos{
	display: absolute;
	align-items: stretch;
	height: 40%;
}

.Perfil img{
	position: relative;
    background: #fff;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,.25);
    z-index: 5;
}

/* proyectos */

.Detalles-de-proyectos{
	border-bottom: 5px solid hotpink;
	border-radius: 10px;
	width: 300px;
	height: 350px;
	margin: 10px;
}

.Detalles-de-proyectos:hover {
	background-color: gray;
}

.Detalles-de-proyectos h3{
	background-color: #f7f3d5;
	text-align: center;
}

.Detalles-de-proyectos img{
	width:100%;
	border-radius: 10px;
	border: 2px solid hotpink;
}

.descripcion {
 font-family: sans-serif;
 font-size: 20px;
 text-align: center;
 justify-content: center;
 padding-left: 25%;
 padding-right: 25%;
}

.Detalles-de-proyectos a {
	display:flex;
	justify-content: center;
	font-family: sans-serif;
	font-size: 20px;
	margin: 20px;
	text-align: center;
	padding: auto;
	color: white;
}


/*En el header esta la Nav bar*/

header{
   position: sticky;
   top: 0;
   padding-top: 30 px;
   padding-bottom: 30px;
   background-color: #635063;
   z-index: 15;
}

.Lista-de-proyectos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	gap: 10px;
 
}


/*Botones de redes sociales, los iconos son importados*/

.buttons {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

/*texto de presentación*/

.texto-presentacion {
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

.presentacion{
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	font-size: 20px;
	margin: 100px 0 40px;
	text-align: center;
	color: #ecf0f1;
	padding: 5px;
	padding-top: 0px;
}


/**formulario, esta en responsive*/

label {
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
}

.flex-container{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content:center;
		background-color: transparent ;
		margin: 50px 50px;
		position: relative;
}

.formulario{
	min-width: 300px;
	flex: 1;
	text-align: center;
	padding: 30px;
}

.form-input{
	width: 100%;
	padding: 7px;
	margin: 6px 0;
	border: none;
	border-left: 3px solid #e88087;
	background: transparent ;
	color: white;
}

.form-input:focus {
	background: linear-gradient(to bottom, transparent, #635063);
	outline: none;
	border-bottom: 3px solid #e88087;
}

.formulario textarea {
	min-height: 140px;
	resize: none;
	display: block;
}

.imagen-enviar{
	flex: 1;
	padding: 10px;
	display: flex;
	margin: auto;
	padding: 20px;
}

.imagen-enviar div{
	padding: 20px;
}

.imagen-enviar img {
	width: 60%;	
	margin: auto;
	min-width: 300px;
}

.contenedor-imagen {
		margin: auto;
		padding: 20px;
		min-width: 300px;
}

.contenedor-imagen div{
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	padding: 40px;
}

.form-input[type="submit"] {
	background-color: #e88087;
	width: 100%;
	border-bottom: none;
	border-left: none;
}

.form-input[type="submit"]:hover {
	background-color: #fa9b9b;
	width: 100%;
	border-bottom: none;
	border-left: none;
}

.form-input[type="submit"]:active {
	background: linear-gradient(to bottom, transparent, #635063);
}

footer{
	padding-top:60px ;
  max-width:100%;
  width: 100%;
}

.Contactos {
	margin-top:40px;
	flex-wrap: wrap;
	display: block;
	position: ;
	justify-content: center;
}

@media(max-width:320px) .Contactos {
  margin-top:60em;
	flex-wrap: wrap;
	display: flex;
	position: relative;
	justify-content:center;
}



/*reloj*/

#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:left;
  width: 50%;
  margin: auto;
  color:#fff;
  border-left: 6px solid #e88087;
  border-right: 6px solid #e88087;
  padding: 20px;
  display: block;
  padding-left: 12%;
}
