* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** Color de selección del texto*/
::selection {
	background-color: purple;
	color: white;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7f3d5;
  border-radius: 10px;
}


/** nav superior */

nav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
	z-index: 10;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

/** animación del nav */

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

span {
    color: #2BD6B4;
}

section {
	height: 80vh;

}

section#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e88087;
}

section#hero h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

section#Proyectos h2 {
	font-size: 2rem;
	text-align: center;

}

.Perfil img{
	position: relative;
    background: #fff;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,.25);
    z-index: 5;
}
/* proyectos */
.Detalles-de-proyectos{
	border: 5px solid hotpink;
	border-radius: 10px;
	width: 300px;
	margin: 10px;
}

.Detalles-de-proyectos h3{
	border:5px solid hotpink;
}

.Detalles-de-proyectos img{
	width:100%;
}

header{
   position: sticky;
   top: 0;
   padding-top: 30 px;
   padding-bottom: 30px;
   background-color: #635063;
   z-index: 15;
}

.Lista-de-proyectos{
	display: flex;
	flex-wrap: wrap;
}
